$primary: #150080;
$accent: #d08642;

.loading {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
  color: linear-gradient(0deg, $accent 50%, $primary);

  @media screen and (max-width: 768px) {
    font-size: 16px; /* Adjust font size for smaller screens */
    letter-spacing: 1px; /* Adjust letter spacing for smaller screens */
  }
}
